.app {
  background-color: #162b2b;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.app p {
  font-size: 2.5rem;
}

.app figcaption {
  font-style: italic;
  font-size: 1.5rem;
  text-align: right;
  color: #a1e0e0;
}

.rotate-top {
	-webkit-animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

 @-webkit-keyframes rotate-top {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes rotate-top {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
